.pdf-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.pdf-doc {
  position: relative;
}

.pdf-doc .page {
  position: relative;
}

.pdf-doc {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-bar {
  background: #e9e9e9;
  padding: 1rem;
  flex: 0 0 53px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-info {
  margin-left: 1rem;
}
